<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <header>
        <div class="brand_logo">
            <div><i class="fab fa-accusoft" style="color: #407aff;"></i></div>
            <div style="color: #407aff; font-size: 20px">ROMPUP</div>
        </div>
        <div class="profile_info">
            <div>Job Openings</div>
            <% if(user.role=== "recruiter") { %> 
                <div>Post New Job</div>
            <% } %>
            
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fas fa-chevron-down" style="font-size: 20px"></i>
                </button>
                <div class="dropdown-content">
                    <div style="font-size: 17px"><%= user.name %></div>
                    <div style="font-size: 15px; padding-top:0px"><%= user.email %></div>
                    <hr>
                    <div><a>Logout</a></div>
                </div>
            </div>
        </div>
    </header>
           