<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <header>
        <div class="brand_logo">
            <div><i class="fab fa-accusoft" style="color: #407aff;"></i><span style="font-family: cursive">RompUp</span></div>
        </div>
        <div class="profile_info">
            
            <div><i class="fas fa-users"></i></div>
            <div class="profile-info-div">
                <div><i class="fas fa-address-book"></i></div>
                <div style="color: lightgrey">User</div>
                <div><i class="fas fa-chevron-down"></i></div>
            </div>
        </div>
    </header>
    
    <main>
        <div class="main_menu">
            <p>Navigation</p>
        <div>    