<%- include("./includes/template-start.ejs") %>
                <div class="card_div">
                    
                                <div class="card">
                                    <div class="profile_pic">
                                        <div class="profile_circle" style="align-self: start;"><i class="far fa-user"></i></div>
                                        <div>
                                            <p style="font-size: 20px; color: #407aff; margin: 0px 0px 20px 0px"></p>
                                            <p style="font-size: 17px; margin: 1px 0px 0px 5px;"><i class="fas fa-building" style="font-size:15px; padding: 0px 2px"></i>
                                                <i class="fas fa-map-marker-alt" style="font-size:15px; padding: 0px 2px"></i></p>
                                        </div>
                                    </div>
                                    <div class="job_details">
                                        <div class="job_detail_div">  
                                            <div><i class="fas fa-address-card"></i></div>
                                            <div><i class="fas fa-briefcase"></i></div>
                                            <div><i class="fas fa-briefcase"></i></div>
                                        </div>
                                        
                                    </div>
                                    <button class="modal-btn">Assign Recruiters</button>
                                    
                                    
                                </div>
                            
                </div>
            </div>
            
        </div>       
    </main>
</body>


</html>