<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/login.css">
    <!-- <% if(pageTitle === 'Sign Up') { %> 
        <style>
            .login_div {
                padding-top: 400px;
                overflow: scroll;
            }
        </style>
    <% } %> -->

</head>
<body>
    <main>
        <div class="login_img">
            <img src="">
        </div>
        <div class="login_div" >
            <div class="login_form">
                <form action="<% if(pageTitle === 'Sign Up') { %>/signup
                    <% } else if(pageTitle === 'Log In') { %>/login
                    <% } else { %>/r-signup<% } %>"
                 method="POST">
                    <h1 style="color: #956c4d">Welcome!</h1>
                    <label for="email_add">Email Address</label><br>
                    <% if(email) { %> 
                        <h5 style="color: darkred; padding:0; margin: 0;">Email Id not Found!</h5>
                    <% } %>
                    <input type="text" id="email" name="email"><br>
                    <label for="password">Password</label><br>
                    <% if(pw) { %>
                        <h5 style="color: darkred; padding:0; margin: 0;">Password not Found!</h5>
                    <% } %>
                    <input type="text" id="password" name="password"><br>
                    <% if (pageTitle !== 'Log In') { %>
                        <label for="username">Username</label><br>
                        <input type="text" id="username" name="username"><br>    
                    <% } %>
                    <input class="submit-button" type="submit" value="<% if(pageTitle === 'Log In') { %>Log In <% } else { %> Sign Up <% } %>">

                    <% if (pageTitle === 'Sign Up') { %>
                        <h5>Already have an account? <a href="/">Log In</a></h5>
                    <% } else if(pageTitle === 'Log In') { %>
                        <h5>Don't have an account? <a href="/signup">Sign Up</a></h5>
                    <% } %>
                    <% if (pageTitle !== 'Recruiter Sign Up') { %>
                        <h5>Sign Up as <a href="/r-signup">Recruiter</a></h5>
                    <% } else { %>
                        <h5>Sign In as <a href="/">Job Seeker</a></h5>
                    <% } %>
                </form>
            </div>
        </div>
    </main>
</body>
</html>