body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eaf2f4;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0px 5px 10px lightgray;
}

.fas, .fab {
    padding: 0px 10px;
    font-size: 30px;
    color: grey;
}

.profile_info {
    display: flex;
    align-items: center;    
}

.profile_info div {
    margin: 0px 20px;
}

.dropbtn {
  background-color: white;
  color: white;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 5px;
  top: 20px;
  background-color: white;
  min-width: 300px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}



.brand_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    /*position: relative;*/
    background-color: #407aff;
}

.sidebar {
    width: 300px;
    height: 88vh;
    background-color: #407aff;
    display: flex;
    flex-direction: column;
    color: #eaf2f4;
    padding: 10px;
    /*position: fixed;*/
}

.content_div {
    height: 100%;
    flex-grow: 1;
    background-color: #eaf2f4;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 30px;
}

.content_heading {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 15px 0px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 20px;
}
=





/* card items  */
.card_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.card {
    height: auto;
    width: 300px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 25px lightgrey;
}

