body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eaf2f4;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0px 5px 10px lightgray;
}

.fas, .fab {
    padding: 0px 10px;
    font-size: 30px;
    color: grey;
}

.profile_info {
    display: flex;
    align-items: center;    
}

.profile_info div {
    margin: 0px 20px;
}

.dropbtn {
  background-color: white;
  color: white;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 5px;
  top: 20px;
  background-color: white;
  min-width: 300px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}



.brand_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-header__item a {
  text-decoration: none;
  color: grey;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: black;
}

.wrapper {
    margin: 0 200px;
}

main {
    display: flex;
    flex-direction: row;
    /*position: relative;*/
    /*background-color: #407aff;*/
    /*padding: 0px 100px;*/
}

.sidebar {
    width: 700px;
    height: 88vh;
    /* background-color: #407aff; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form_div {
    position: fixed;
    width: 260px;
    top: 150px;
    left: 100px;
    height: 400px;
    overflow-y: scroll;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.form-control {
    margin: 10px;
}

.form-control label{
    color: grey;
}

.form-control input{
    padding: 5px;
    outline: none;
    background-color: none;
    border-radius: 4px;
    border-color: grey;
    width: -webkit-fill-available;
}

.form-control input:hover, .form-control input:hover {
    border-color: #afafe4;
} 

.submit-button {
    width: 100px;
    /*height: 50px;*/
    background-color: #956c4d;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: -0px 5px 20px #956c4d;
    outline: none;
    border: none;
    padding: 5px;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #252540;
}

.content_div {
    height: 100%;
    /*flex-grow: 1;*/
    /*background-color: #eaf2f4;*/
    /*overflow-y: scroll;*/
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 30px;
}

.content_heading {
    display: flex;
    align-items: center;
    margin: 0px 50px;
    border: 4px #ffffff solid;
    padding: 15px;
    /* text-align: center; */
    border-radius: 30px;
    /* background-color: #ffffff; */
    color: cornflowerblue;
    font-size: 20px;
    font-weight: bolder;
}





/* card items  */
.card_div {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    margin: 30px;
    border-left: 1px #c5bebe solid;
}

.card {
    min-height: 200px;
    width: 600px;
    color: grey;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 25px lightgrey;
    display: flex;
    flex-direction: column;
}

.card_conditions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 17px;
}

.card_optional {
    display: flex;
    margin-top: 15px;
}

.subcard_optional {
    background-color: #f1f1f1;
    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;
}

.card_optional2 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.details {
    margin-top: 5px;
    text-decoration: none;
    color: blue;
    text-align: right;
    padding: 5px;
    font-size: 17px;
}

.details:hover {
    /*background-color: #f1f1f1;*/
    border-radius: 10px;
    cursor: pointer;

}

