body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.login_img {
    flex-grow: 6;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg5.jpeg");
    background-size: cover; 
}

.login_div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



label {
    font-size: 15px;
    color: #ababab;
    font-weight: bold;
}

input {
    margin: 20px 0px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(222, 221, 221);
    width: 300px;
    padding-bottom: 10px;
    color: grey;
}

input.submit-button {
    width: 200px;
    height: 50px;
    background-color: #956c4d;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: -0px 5px 20px #956c4d;
    outline: none;
    border: none;
    padding: 0px 0px 0px 0px;
}

input.submit-button:hover {
    cursor: pointer;
    background-color: #252540;
}

h5 {
    color: #607d8b;
}

h5 a {
    text-decoration: none;
    color: #4968b1;
}



